* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3a8eb12;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.todo-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    margin-bottom: 40px;
}

.task-list {
    width: 60%;
    border-radius: 8px;
    background-color: #c3c3eb40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.679);
    padding: 20px;
    overflow-y: auto;
    max-height: 400px;
}

h1, h2 {
    color: #11465e;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.task-input {
    width: 35%;
    background-color: #c3c3eb40;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.638);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #28a790;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #44c7cb;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    background-color: #ffffffc0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

li span {
    flex-grow: 1;
    font-size: 18px;
}

li .delete-btn {
    background-color: #c8235ae7;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
}

li .delete-btn:hover {
    background-color: #ed3f79c8;
}
